.error-main {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.5rem;
    padding-top: 5rem;
}

.back-btn {
    padding: 0.7rem 1rem;
    border: 1px solid var(--border-light-clr);
    border-radius: 5px;
    gap: 0.5rem;
    background-color: var(--secondary-bg-light-clr);
    margin-top: 2rem;
}

.back-btn:hover,
.back-btn:active {
  box-shadow: 0 0 0.5rem 0.1rem var(--border-light-clr);
}