article {
  justify-content: space-between;
  gap: 4rem;
  padding-block: 1.25rem;
  border-bottom: 1px solid var(--border-light-clr);
  cursor: pointer;
}

article:hover,
article:active {
  transform: scale(1.02);
}

.product-name {
  font-size: 1rem;
}

.anotation {
  color: var(--secondary-text-lighter-clr);
  font-size: 0.9rem;
  padding-top: 0.15rem;
}

.detail-link:hover,
.detail-link:active {
  color: var(--accent-clr);
}

@media only screen and (max-width: 768px) {
  .portfolio-main {
    gap: 1rem;
    grid-template-rows: 0.85fr 1fr;
  }

  .anotation {
    display: none;
  }

  article:hover,
  article:active {
    transform: none;
  }

  .p-mobile-width {
    width: 15rem;
  }
}