.details-main {
    padding-top: 3.5rem;
    gap: 7rem;
    align-items: flex-start;
    line-height: 1.5;
}

.header-btns-flex {
    justify-content: space-between;
    padding-bottom: 2rem;
}

.gallery-flex{
    display: flex;
    align-items: center;
}

h2 {
    font-size: 2rem;
}

.details-anotation {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    line-height: 1.75;
}

.details-description {
    line-height: 1.75;
    padding-bottom: 3.5rem;
}

.details-heading {
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: var(--accent-clr);
    border-bottom: 1px solid var(--accent-clr);
}

.two-cards-flex {
    display: flex;
    gap: 1.5rem;
    margin-block: 3.5rem 3rem;
    justify-content: space-between;
}

.target-group-p {
    padding-top: 1.5rem;
}

ul {
    list-style-position: inside;
    padding-block: 1rem;
}

.role-heading {
    font-weight: 600;
    color: var(--accent-secondary-clr);
    padding-top: 1.5rem;
}

.details-list {
    padding-top: 0.5rem;
    list-style-type: square;
}

.role-list {
    list-style-type: square;
    line-height: 2;
}

.btns-wrapper {
    display: flex;
    gap: 0.15rem;
    padding-right: 1rem;
}

.details-btn {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.8rem;
    background-color: var(--white-clr);
    color: var(--accent-clr);
    border-radius: 3px;
    transition: all ease 0.25s;
}

.details-btn:hover,
.details-btn:active {
    background-color: var(--secondary-bg-light-clr);
}

.gallery {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.gallery__img {
    cursor: pointer;
    width: 23rem;
    display: block;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.24);
}

.gallery__img:hover {
    transform: scale(1.02);
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.24);
}

.gallery__img img {
    display: block;
}

.gallery__img-title {
    text-align: center;
    padding-top: 0.75rem;
    color: var(--secondary-text-lighter-clr);
}

@media only screen and (max-width: 1024px) {
    .two-cards-flex {
        flex-direction: column;
        gap: 3rem;
    }

    .gallery__img {
        width: 17rem;
    }
}

@media only screen and (max-width: 768px) {
    .details-main {
        padding-top: 2.5rem;
        gap: 5rem;
    }

    .btns-wrapper {
        padding-top: 0.75rem;
    }

    .header-btns-flex {
        flex-direction: column;
        padding-bottom: 1.5rem;
    }
}