.details-main {
    padding-top: 3.5rem;
    align-items: flex-start;
}

.gallery-flex{
    display: flex;
    align-items: center;
}

h2 {
    font-size: 2rem;
}

.details-anotation {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    line-height: 1.75;
}
  
.details-p {
    line-height: 1.5;
}

.details-heading {
    font-weight: 600;
    text-transform: uppercase;
    padding-block: 2rem 0.25rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--accent-clr);
}

.role-heading {
    font-weight: 600;
    padding-block: 0.75rem 0.5rem;
}

.target-group-p {
    padding-top: 0.5rem;
}

.details-list {
    padding-top: 0.5rem;
    list-style-type: circle;
}

.role-list {
    list-style-type: circle;
}

.details-description {
    line-height: 1.75;
}

/* .btns-wrapper {
    padding-top: 3rem;
}

.details-btn {
    justify-content: space-between;
    padding-block: 1.25rem;
    border-bottom: 1px solid var(--border-light-clr);
    font-size: 1rem;
}
  
.details-btn:hover,
.details-btn:active {
    transform: translateX(0.25rem);
} */

.details-btn {
    padding: 0.7rem 1rem;
    border: 1px solid var(--border-light-clr);
    border-radius: 5px;
    gap: 0.5rem;
    background-color: var(--white-clr);
    box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem var(--border-light-clr);
}

.details-btn:hover,
.details-btn:active {
    box-shadow: 0rem 0rem 0.6rem 0.2rem var(--border-light-clr);
}

.btns-wrapper {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.gallery {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.gallery__img {
    cursor: pointer;
    width: 12rem;
    display: block;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.gallery__img img {
    display: block;
}

.gallery__img:hover {
    transform: scale(1.02);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.24);
}
  
@media only screen and (max-width: 768px) {
    .details-main {
        gap: 5rem;
        grid-template-rows: 1fr 0.45fr;
    }

    h2 {
        font-size: 1.5rem;
    }

    .gallery__img {
        width: 8rem;
    }
}