header {
    background-color: var(--secondary-bg-dark-clr);
    padding: 1.2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-clr);
    position: sticky;
    top: 0;
}

h1 {
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    header  {
      padding: 1.25rem 2rem;
    }
  
    h1 {
      font-size: 1.25rem;
    }
    
    .logo {
      width: 25vw;
    }
}