* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-dark-clr: #343a40;
    --secondary-text-lighter-clr: #343434;
    --accent-clr: #a9110e;
    --accent-secondary-clr: #a9110ecc;
    --white-clr: #fff;
    --secondary-bg-light-clr:  #f9fafb;
    --secondary-bg-dark-clr: #282d33;
    --border-light-clr: #e8e8e8;

    --fw-600: 600;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-text-dark-clr);
}

.flex-center {
    display: flex;
    align-items: center;
}

main {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1.25fr 0.75fr;
    padding: 3rem;
    gap: 9rem;
    background-color: var(--white-clr);
}

.fw-600 {
    font-weight: var(--fw-600);
}

a {
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--secondary-text-lighter-clr);
}

img {
    max-width: 100%;
}

@media only screen and (max-width: 768px) {
    main {
      grid-template-columns: 1fr;
      padding: 2rem;
    }
}